<div class="home">
    <div class="ezy__nav4 dark">
        <nav class="navbar navbar-expand-lg  py-3">
            <div class="container">
                <a class="navbar-brand" href="#">
                    Krishna Sharma
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#ezy_nav4-navbar-text" aria-controls="ezy_nav4-navbar-text" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span>
                        <span></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="ezy_nav4-navbar-text">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 mt-4 mt-lg-0">
                        <li class="nav-item"><a class="nav-link active" href="#"><i class="pi pi-home"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact me</a></li>
                    </ul>
                    <div class="d-flex">
                        <div class="navbar-user">Hire me</div>
                        <div class="navbar-icon"><i class="pi pi-user"></i></div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="resume-container">
        <div class="resume-container__resume">
            <div class="d-flex resume-container__resume__firstblock">
                <div class="d-flex resume-container__resume__firstblock__child1"></div>
                <div class="d-flex resume-container__resume__firstblock__child2"></div>
            </div>
        </div>
        <div class="resume-container__info">
            <div class="resume-container__info__title">
                <h3>I'm here to transform comples problems into intuitive, beautiful solutions.</h3>
            </div>
            <div class="resume-container__info__subtitle">
                <h4 class="resume-container__info__subtitle__h">"I create digital products that offers exceptinal
                    experieces"</h4>
            </div>
            <div class="resume-container__info__resumeBtn">
                <div class="resume-container__info__resumeBtn__btn">Resume</div>
            </div>
        </div>
        <div class="resume-container__resume" style="border-top: 1px solid rgb(72,71,71);">
            <div class="d-flex resume-container__resume__firstblock">
                <div class="d-flex resume-container__resume__firstblock__child1"></div>
                <div class="d-flex resume-container__resume__firstblock__child2"></div>
            </div>
        </div>
        <div class="resume-container__resume">
            <div class="d-flex resume-container__resume__firstblock">
                <div class="d-flex resume-container__resume__firstblock__child1"></div>
                <div class="d-flex resume-container__resume__firstblock__child2"></div>
            </div>
        </div>
        <div class="resume-container__resume" style="border-bottom:none">
            <div class="d-flex resume-container__resume__firstblock">
                <div class="d-flex resume-container__resume__firstblock__child1"></div>
                <div class="d-flex resume-container__resume__firstblock__child2"></div>
            </div>
        </div>
    </div>
    <div class="resume-app">
        <div>Figma</div>
        <div><i class="pi pi-sparkles"></i></div>
        <div>Webflow</div>
        <div><i class="pi pi-sparkles"></i></div>
        <div>Framer</div>
        <div><i class="pi pi-sparkles"></i></div>
        <div>Notion</div>
        <div><i class="pi pi-sparkles"></i></div>
    </div>
    <div class="resume-exp">
        <div class="resume-exp__head"> Experience</div>
        <!-- <div style="border:1px solid red;margin:0 2rem;height:20rem">
      </div> -->
    </div>
    <div style="position:relative">
        <div class="resume-experience">
            <div class="resume-experience__company1">
                <div class="resume-experience__company1__details">User Experience Designer at <span
                        style="font-weight: 600">Simpliaxis</span></div>
                <div class="resume-experience__company1__work">Worked on designer system at material 3 designs</div>
                <div class="resume-experience__company1__time">Oct 2023 - Present</div>
            </div>
        </div>
        <div class="resume-experience2">
            <div class="resume-experience__company1">
                <div class="resume-experience__company1__details">UI/UX Designer intern at <span
                        style="font-weight: 600">JobTwine</span></div>
                <div class="resume-experience__company1__work">Worked on designer system at material 3 designs</div>
                <div class="resume-experience__company1__time">may 2023 - Sept 2023</div>
            </div>
        </div>
        <div class="resume-experience">
            <div class="resume-experience__company1">
                <div class="resume-experience__company1__details">Front-end intern at <span
                        style="font-weight: 600">Workex Solutions</span></div>
                <div class="resume-experience__company1__work">Worked on designer system at material 3 designs</div>
                <div class="resume-experience__company1__time">Dec 2022 - April 2023</div>
            </div>
        </div>
        <div class="resume-stepper">
            <div class="resume-stepper__parent">
                <div class="resume-stepper__parent__child"></div>
            </div>
            <div class="resume-stepper__line">
            </div>
            <div class="resume-stepper__parent">
                <div class="resume-stepper__parent__child"></div>
            </div>
            <div class="resume-stepper__line">
            </div>
            <div class="resume-stepper__parent">
                <div class="resume-stepper__parent__child"></div>
            </div>
        </div>
    </div>
    <div class="resume-exp">
        <div class="resume-exp__head"> What i do?</div>
    </div>
</div>
<!-- https://cloud.fronty.com/s/Hj2eM4FrBMbH3t6/preview -->