.home {
    
    .ezy__nav4 .navbar-brand {
        font-weight: 800;
        font-size: 30px;
        color: #ffffff;
    }

    .ezy__nav4 .navbar-nav {
        border-width: 2px; 
        border-style: solid;
        border-image-source: linear-gradient(269.57deg, #7A87FB 0.72%, #FFD49C 99.22%);
        border-image-slice: 1;
        border-radius: 2rem;
        gap: 15px;
    }
    .ezy__nav4 .navbar-user{
        background: linear-gradient(269.57deg, #7A87FB 0.72%, #FFD49C 99.22%);
        padding: 1rem;
        border-radius: 2rem;
        width: 7rem;
        display:flex;
        justify-content: center;
        font-weight: 600;
    }
    .ezy__nav4 .navbar-icon{
        background: linear-gradient(269.57deg, #7A87FB 0.72%, #FFD49C 99.22%);
        height: 3.5rem;
        padding: 1.2rem;
        border-radius: 5rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
    }

    .ezy__nav4 .navbar-nav .nav-link {
        color: #ffffff;
        opacity: .6;
    }
    
    .ezy__nav4 .navbar-nav .nav-link:hover,
    .ezy__nav4 .navbar-nav .nav-link:focus,
    .ezy__nav4 .navbar-nav .nav-link.active {
        color: #ffffff;
        opacity: 1;
    }
    
    .resume-container{
         margin: 0 9rem;
         border-top:1px solid rgb(72 71 71);
         border-left:1px solid rgb(72 71 71);
         border-right:1px solid rgb(72 71 71);
         &__resume{
            border-bottom: 1px solid rgb(72 71 71);
            &__firstblock {
                display: flex;
                justify-content: center;
                &__child1, &__child2{ 
                    height: 6.5rem;
                    width: 10rem;
                }
                &__child1 {
                    border-left: 1px solid rgb(72 71 71);
                    border-right: 1px solid rgb(72 71 71);
                }
                &__child2{
                    border-right: 1px solid rgb(72 71 71);
                }
            }
          }
          &__info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__title {
              color: #ffffff;
              font-weight: 600;
              padding: 2rem;
              font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              display: flex;
              justify-content: center;
            }
            &__subtitle{
                display: flex;
                justify-content: center;
                color: #ffffff;
                &__h {
                    width: 20rem;
                }
            }
            &__resumeBtn {
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                &__btn {
                    width: 6rem;
                    background: linear-gradient(269.57deg, #7A87FB 0.72%, #FFD49C 99.22%);
                    padding: 1rem;
                    border-radius: 2rem;
                    font-weight: 600;
                    text-align: center;
                    cursor: pointer;
                }
            }
          }
    }
    .resume-app {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6vh;
        border-top: 1px solid rgb(72 71 71);
        border-bottom: 1px solid rgb(72 71 71);
        padding: 0 6rem;
        font-weight: 600;
        color: white;
        font-size: 1.4rem;
    }
    .resume-exp {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__head{
            background-color: #FFC9F0;
            font-size: 2.5rem;
            font-weight: 600;
            padding: 0.4rem;
            margin: 3rem 0;
        }
    }
    .resume-experience {
        &__company1 {
            margin: 2rem;
            color:white;
            width: 40vw;
            text-align: center;
            &__details{
            font-size: 2rem;

            }
            &__work {
              color:#B7AFAF;
            }
            &__time{
                color:#888585;
            }
        }
    }
    .resume-experience2 {
        display: flex;
        justify-content: flex-end;
        &__company1 {
            margin: 2rem;
            color:white;
            width: 40vw;
            text-align: center;
            &__details{
            font-size: 2rem;

            }
            &__work {
              color:#B7AFAF;
            }
            &__time{
                color:#888585;
            }
        }
    }
    .resume-stepper{
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__parent{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            &__child {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #FFC9F0;
            }
        }
        &__line {
            border: 1px solid #CCCCCC;
            height: 9rem;
            width: 0;
        }
    }
    .resume-whatIDo {
        display: flex;
        justify-content: space-around;
        margin:0 5rem;
        position: relative;
        gap:2.5rem;
        &__child{
            border:5px solid #ffffff;
            height:30rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            font-size: 2rem;
            font-weight: 600;
            border-radius: 8px;
        }
        .child1{
            transform: rotate(-4deg);
            background-color: #FBE699;
        }
        .child2{
            transform: rotate(5.5deg);
            background-color: #ADE2FF;
        }
        .child3{
            transform: rotate(-5.5deg);
            background-color: #FFD4F3;
        }
        &__pen {
            background-color: #9DDCFF;
            position: absolute;
            top: 4rem;
            right: -16px;
            font-weight: 600;
            font-size: 2rem;
            padding: 0 0.8rem;
        }
        &__figma {
            background-color: #FFD4F3;
            position: absolute;
            top: 0;
            right: 10px;
            font-weight: 600;
            font-size: 2rem;
            padding: 0 0.8rem;
        }
        &__webFlow {
            background-color: #FBE699;
            position: absolute;
            top: 4rem;
            right: -3.5rem;
            font-weight: 600;
            font-size: 2rem;
            padding: 0 0.8rem;
        }
    }
    .resume-projects {
        display: flex;
        margin: 0 8rem;
        &__pic , &__pic2 {
            flex: 1;
            height: 30rem;
            // background-image: url('../../../assets/travel-blog.jpeg');
            background-size: cover; 
            background-position: center;
            border-radius: 30px;
        }
        &__pic {
            background-image: url('../../../assets/travel-blog.jpeg');
        }
        &__pic2{
            background-image: url('../../../assets/image4.jpeg');
        }
        &__edit, &__edit2 {
            flex: 1;
            height: 30rem;
            // background-color: #C27808;
            border-radius: 30px;
            display: flex;
            justify-content: space-evenly;
            &__image1, &__image4 {
                background-size: cover; 
                background-position: center;
                height:20rem;
                width: 10rem;
                margin-top:2rem;
            }
            &__image2, &__image5 {
                background-size: cover; 
                background-position: center;
                height:20rem;
                width: 10rem;
                margin-top:6rem;
            }
            &__image3, &__image6 {
                background-size: cover; 
                background-position: center;
                height:20rem;
                width: 10rem;
                margin-top:9rem;
            }
            &__image1 {
                background-image: url('../../../assets/image1.png');
            }  
            &__image2 {
                background-image: url('../../../assets/image2.png');
            }  
            &__image3 {
                background-image: url('../../../assets/image3.png');
            }  
            &__image4 {
                background-image: url('../../../assets/image5.png');
            }  
            &__image5 {
                background-image: url('../../../assets//image6.png');
            }  
            &__image6 {
                background-image: url('../../../assets/iamge7.png');
            }
        }
        &__edit {
            background-color: #C27808;
        }
        &__edit2{
            background-color: #3FD669;
        }
        &__info{
            flex:1;
            display: flex;
            align-items: center;
            &__data {
               color:white;
               padding: 3rem;
               &__title {
                font-size: 1.5rem;
                font-family: serif;
               }
               &__subtitle {
                color:#E3E4E6;
                font-size: 2rem;
                opacity: 0.6;
               }
               &__says {
                font-size: 2rem;
               }
               &__main{
                font-size: 1.5rem;
               }
               &__viewContainer {
                margin-top: 2rem;
                &__view {
                    border:1px solid gray;
                    border-radius: 1rem;
                    padding: 0.5rem;
                }
                
               }
            }
        }
    }
    .resume-contact {
     display: flex;
     justify-content: center;
      &__text {
        color:white;
        font-weight: 600;
        font-size: 3rem;
        max-width:40rem;
     }
    }
  
}
